<html>
<link rel="stylesheet" href="./Messages.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="TaskDetails">
    <div class="topTitle">
        <img class="leftImage" src="img/arrowleft.svg" alt="">
        <img class="rightImage" src="img/edit.svg" alt="">
        <h1> Task Details </h1>

    </div>
    <div class="projectName">
        <h1>
            Real Estate App Design
        </h1>
    </div>
    <div class="projectData">
        <div><img src="img/calendarremove.svg" alt=""></div>
        <span>Due Date</span>
        <h2>20 June</h2>
    </div>
    <div class="projectTeam">
        <div class="user-img"><img src="img/profile2user.svg" alt=""></div>
        <span>Project Team</span>
        <div class="avatarProject">
            <img class="one-img" src="img/Ellipse17.svg" alt="">
            <img class="two-img" src="img/Ellipse18.svg" alt="">
            <img class="three-img" src="img/Ellipse19.svg" alt="">
        </div>
    </div>
    <div class="projectDetails">
        <h1>Project Details</h1>
        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown br printer took a galley of type and scrambled
        </h2>
    </div>
    <div class="projectProgress">
        <h1>Project Progress</h1>
        <img src="img/Ellipse%2027.svg" alt="">
        <span>60%</span>
    </div>
    <div class="allTasks">
        <h1>All Tasks</h1>
        <div class="one-task">
            <span>User Interviews</span>
            <div>
                <img src="img/tickcirclefull.svg" alt="">
            </div>
        </div>
        <div class="two-task">
            <span>Wireframes</span>
            <div>
                <img src="img/tickcirclefull.svg" alt="">
            </div>
        </div>
        <div class="thee-task">
            <span>Design System</span>
            <div>
                <img src="img/tickcirclefull.svg" alt="">
            </div>
        </div>
        <div class="four-task">
            <span>Icons</span>
            <div>
                <img src="img/tickcircle.svg" alt="">
            </div>
        </div>
    </div>
    <div class="bottom">
        <button><span>Add Task</span></button>
    </div>
</div>
</body>
</html>