<html>
<link rel="stylesheet" href="./Schedule.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="Schedule">
    <div class="topMenu">
        <img class="leftImage" src="img/arrowleft.svg" alt="">
        <h2>Schedule</h2>
        <img class="rightImage" src="img/addsquare.svg" alt="">
    </div>
    <div class="Calendar">
        <h1>November</h1>
        <div class="mon">
            <h1>1</h1>
            <h2>Mon</h2>
        </div>
        <div class="tue">
            <h1>2</h1>
            <h2>Tue</h2>
        </div>
        <div class="wed">
            <h1>3</h1>
            <h2>Wed</h2>
        </div>
        <div class="thu">
            <h1>4</h1>
            <h2>Thu</h2>
        </div>
        <div class="fri">
            <h1>5</h1>
            <h2>Fri</h2>
        </div>
        <div class="sat">
            <h1>6</h1>
            <h2>Sat</h2>
        </div>
        <div class="sun">
            <h1>7</h1>
            <h2>Sun</h2>
        </div>
    </div>
    <div class="todayTask">
        <h1></h1>
        <div class="userInt">
            <h1>User Interviews</h1>
            <h2>16:00 - 18:30</h2>
            <img class="ava1" src="img/E1.svg" alt="">
            <img class="ava2" src="img/E2.svg" alt="">
            <img class="ava3" src="img/E3.svg" alt="">
        </div>
        <div class="wireframe">
            <img src="img/Rectangle%2022.svg" alt="">
            <h1>Wireframe</h1>
            <h2>16:00 - 18:30</h2>
            <img class="ava1" src="img/E1.svg" alt="">
            <img class="ava2" src="img/E2.svg" alt="">
            <img class="ava3" src="img/E3.svg" alt="">
        </div>
        <div class="icons">
            <img src="img/Rectangle%2022.svg" alt="">
            <h1>Icons</h1>
            <h2>16:00 - 18:30</h2>
            <img class="ava1" src="img/E1.svg" alt="">
        </div>
        <div class="mockups">
            <img src="img/Rectangle%2022.svg" alt="">
            <h1>Mockups</h1>
            <h2>16:00 - 18:30</h2>
            <img class="ava1" src="img/E1.svg" alt="">
            <img class="ava2" src="img/E2.svg" alt="">
            <img class="ava3" src="img/E3.svg" alt="">
        </div>
        <div class="testing">
            <img src="img/Rectangle%2022.svg" alt="">
            <h1>Testing</h1>
            <h2>16:00 - 18:30</h2>
            <img class="ava1" src="img/E1.svg" alt="">
            <img class="ava2" src="img/E2.svg" alt="">
        </div>
    </div>
    <div class="bottomPanel">
        <div class="Home">
            <img src="img/home2.svg" alt="">
            <span>Home</span>
        </div>
        <div class="Chat">
            <img src="img/messages1.svg" alt="">
            <span>Chat</span>
        </div>
        <div class="Plus">
            <button><img src="img/botadd.svg" alt=""></button>
        </div>
        <div class="Calendar">
            <img src="img/Calendar.svg" alt="">
            <span>Calendar</span></div>
        <div class="Notification">
            <img src="img/notification1.svg" alt="">
            <span>Notification</span>
        </div>
    </div>
</div>
</body>
</html>