<html>
<link rel="stylesheet" href="./NewMessage.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="NewMessage">
    <div class="topMenu">
        <img class="leftImage" src="img/arrowleft.svg" alt="">
        <h1>New Message</h1>
        <img class="rightImage" src="img/searchnormal1.svg" alt="">
    </div>
    <div class="creteGroup">
        <img class="background" src="img/Ellipse.svg" alt="">
        <img class="profile" src="img/profile2user.svg" alt="">
        <h2>Create a group</h2>
    </div>
    <div class="userList">
        <div class="oneUser">
            <img src="img/Ellipse1.svg" alt="">
            <h2>Amelia</h2>
            <span>A</span>
        </div>
        <div class="twoUser">
            <img src="img/Ellipse2.svg" alt="">
            <h2>Alexander</h2>
        </div>
        <div class="threeUser">
            <img src="img/Ellipse3.svg" alt="">
            <h2>Avery</h2>
        </div>
        <div class="fourUser">
            <img src="img/Ellipse4.svg" alt="">
            <h2>Asher</h2>
        </div>
        <div class="fiveUser">
            <img src="img/Ellipse5.svg" alt="">
            <h2>Berrett</h2>
            <span>B</span>
        </div>
        <div class="sixUser">
            <img src="img/Ellipse6.svg" alt="">
            <h2>Benjamin</h2>
        </div>
        <div class="sevenUser">
            <img src="img/Ellipse7.svg" alt="">
            <h2>Brayden</h2>
        </div>
        <div class="eightUser">
            <img src="img/Ellipse8.svg" alt="">
            <h2>Berrett</h2>
        </div>
        <div class="nineUser">
            <img src="img/Ellipse9.svg" alt="">
            <h2>Braxton</h2>
        </div>
        <div class="tenUser">
            <img src="img/Ellipse10.svg" alt="">
            <h2>Charlotte</h2>
            <span>C</span>
        </div>
    </div>
</div>
</body>
</html>