<html>
<link rel="stylesheet" href="./SignUp.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="signUp">
    <div class="topLogo">
        <img src="img/MainTopLogo.svg" alt="">
    </div>
    <div class="Greet">
        <h1>Create your account</h1>
    </div>
    <div class="FullName">
        <span>Full Name</span>
    </div>
    <div class="NameInput">
        <img src="img/user.svg" alt="">
        <input type="text">
    </div>
    <div class="EmailAddress">
        <span>Email Address</span>
    </div>
    <div class="EmailAddressInput">
        <img src="img/usertag.svg" alt="">
        <input type="text">
    </div>
    <div class="Password">
        <span>Password</span>
    </div>
    <div class="PasswordInput">
        <img class="Left" src="img/leftimg.svg" alt="">
        <input type="text">
        <img class="Right" src="img/rightimg.svg" alt="">
    </div>
    <div class="PrivacyPolicy">
        <img src="img/ticksquare.svg" alt="">
        <div class="PrivacyPolicyText"> <span> I have read & agreed to DayTask <span class="YellowSpan">Privacy Policy,
Terms & Condition</span></span> </div>
    </div>
    <div class="SignUpButton" >
        <button>
            <span>Sign Up</span>
        </button>
    </div>
    <div class="OtherLoginLine">
        <img class="line1" src="img/Line2.svg" alt="">
        <span>Or continue with</span>
        <img class="line2" src="img/Line2.svg" alt="">
    </div>
    <div class="googleLogin">
        <button>
            <img src="img/google.svg" alt="">
            <span>
                Google
            </span>
        </button>
    </div>
    <div class="LogIn">
        <span>Already have an account?</span>
        <button>Log In?</button>
    </div>
</div>
</body>
</html>