*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul[class],
ol[class] {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img {
    max-width: 100%;
    display: block;
}
article > * + * {
    margin-top: 1em;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.signUp {
    position: relative;
    width: 428px;
    height: 926px;
    background: #212832;
}

.topLogo {
    position: absolute;
    width: 139px;
    height: 91.92px;
    left: 146px;
    top: 37.5px
}

.Greet {
    position: absolute;
    left: 26px;
    top: 179px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 15px;
}

.FullName {
    position: absolute;
    width: 376px;
    height: 58px;
    left: 26px;
    top: 218px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #8CAAB9;
}

.NameInput {
    position: absolute;
    width: 376px;
    height: 58px;
    left: 26px;
    top: 253px;
    background: #455A64;
}

.NameInput img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 17px;
    top: 18px;
}

.NameInput input {
    position: absolute;
    width: 180px;
    height: 19px;
    left: 68px;
    top: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    border-radius: 1px;
    background: #455A64;
    color: white;
}

.EmailAddress {
    position: absolute;
    width: 121px;
    height: 19px;
    left: 26px;
    top: 338px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #8CAAB9;
}

.EmailAddressInput {
    position: absolute;
    width: 376px;
    height: 58px;
    left: 26px;
    top: 373px;
    background: #455A64;
}

.EmailAddressInput img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 21px;
    top: 19px;
}

.EmailAddressInput input {
    position: absolute;
    width: 179px;
    height: 19px;
    left: 68px;
    top: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 1px;
    background: #455A64;
}


.Password {
    position: absolute;
    width: 83px;
    height: 19px;
    left: 26px;
    top: 458px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #8CAAB9;
}

.PasswordInput {
    position: absolute;
    width: 376px;
    height: 58px;
    left: 26px;
    top: 493px;
    background: #455A64;
}

.PasswordInput .left {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 18px;
    top: 17px;
}

.PasswordInput input {
    position: absolute;
    width: 179px;
    height: 19px;
    left: 68px;
    top: 19px;
    color: #FFFFFF;
    border-radius: 1px;
    background: #455A64;
}

.PasswordInput .right {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 334px;
    top: 17px;
}

.PrivacyPolicy {
    position: absolute;
    width: 313px;
    height: 38px;
    left: 26px;
    top: 568px;
}

.PrivacyPolicy img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
    top: 2px;
}

.PrivacyPolicyText {
    position: absolute;
    width: 313px;
    height: 38px;
    font-size: 14px;
    line-height: 135%;
    left: 36px;
}

.PrivacyPolicyText span {
    color: #8CAAB9;
}
.PrivacyPolicyText .YellowSpan {
    color: #FED36A;
}

.SignUpButton {
    position: absolute;
    width: 376px;
    height: 67px;
    left: 26px;
    top: 639px;
    background: #FED36A;
}

.SignUpButton button {
    position: absolute;
    width: 376px;
    height: 67px;
    background: #FED36A;
    border-radius: 0px;
}

.SignUpButton button span {
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

.OtherLoginLine .line1 {
    position: absolute;
    width: 111px;
    height: 0px;
    left: 26px;
    top: 749px;
    border: 1px solid #8CAAB9;
}

.OtherLoginLine span {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 150px;
    top: 739px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #8CAAB9;
}

.OtherLoginLine .line2 {
    position: absolute;
    width: 111px;
    height: 0px;
    left: 291px;
    top: 749px;
    border: 1px solid #8CAAB9;
}


.googleLogin {
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: 71px;
    left: 26px;
    top: 795px;
    border: 2px solid #FFFFFF;
}

.googleLogin button {
    position: absolute;
    width: 376px;
    height: 67px;
    background: #212832;
}

.googleLogin button img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 139px;
    top: 24px;
}

.googleLogin button span {
    position: absolute;
    width: 62px;
    height: 24px;
    top: 22px;
    left: 175px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}


.LogIn {
    position: absolute;
    width: 243px;
    height: 19px;
    left: 93px;
    top: 887px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.LogIn span {
    color: #8CAAB9;
}
.LogIn button {
    color: #FED36A;
    background: #212832;
}