<html>
<link rel="stylesheet" href="./Profile.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="Profile">
    <div class="topMenu">
        <img class="leftImage" src="img/arrowleft.svg" alt="">
        <h2>Profile</h2>
    </div>
    <div class="Avatar">
        <img src="img/E1.svg" alt="">
        <img class="ava" src="img/E2.svg" alt="">
        <img class="avaBut" src="img/E3.svg" alt="">
        <img class="avaPlus" src="img/E4.svg" alt="">
    </div>
    <div class="profileForm">
        <div class="Login">
            <img class="leftImage" src="img/useradd.svg" alt="">
            <input type="text" name="" id="">
            <img class="rightImage" src="img/edit.svg" alt="">
        </div>
        <div class="Email">
            <img class="leftImage" src="img/Email.svg" alt="">
            <input type="text" name="" id="">
            <img class="rightImage" src="img/edit.svg" alt="">
        </div>
        <div class="Password">
            <img class="leftImage" src="img/Pass.svg" alt="">
            <input type="text" name="" id="">
            <img class="rightImage" src="img/edit.svg" alt="">
        </div>
        <div class="Task">
            <img class="leftImage" src="img/Task.svg" alt="">
            <input type="text" name="" id="">
            <img class="rightImage" src="img/arrowdown2.svg" alt="">
        </div>
        <div class="Privacy">
            <img class="leftImage" src="img/Privacy.svg" alt="">
            <input type="text" name="" id="">
            <img class="rightImage" src="img/arrowdown2.svg" alt="">
        </div>
        <div class="Setting">
            <img class="leftImage" src="img/Setting.svg" alt="">
            <input type="text" name="" id="">
            <img class="rightImage" src="img/arrowdown2.svg" alt="">
        </div>
    </div>
    <div class="LogOutButton">
        <img src="img/Button.svg" alt="">
        <button>
            <span>
                Logout
            </span>
        </button>
    </div>
</div>
</body>
</html>