<html>
<link rel="stylesheet" href="./MessageGroups.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="Messages">
    <div class="topTitle">
        <img class="leftImage" src="img/arrowleft.svg" alt="">
        <h1>Messages</h1>
        <img class="rightImage" src="img/edit.svg" alt="">
    </div>
    <div class="selectPanel">
        <div class="mainChat">
            <button><span>Chat</span></button>
        </div>
        <div class="groups">
            <button><span>Groups</span></button>
        </div>
    </div>
    <div class="chatList">
        <div class="oneChat">
            <img src="img/ava1.svg" alt="">
            <h1>Android Developer</h1>
            <h2>Robert: Did you check the last task?</h2>
            <span>31 min</span>
        </div>
        <div class="twoChat">
            <img src="img/ava2.svg" alt="">
            <h1>IOS Developer</h1>
            <h2>Robert: Did you check the last task?</h2>
            <span>43 min</span>
        </div>
        <div class="threeChat">
            <img src="img/ava3.svg" alt="">
            <h1>Web Developer</h1>
            <h2>Robert: Did you check the last task?</h2>
            <span>6 Nov</span>
        </div>
        <div class="fourChat">
            <img src="img/ava4.svg" alt="">
            <h1>Back-End Team </h1>
            <h2>Robert: Did you check the last task?</h2>
            <span>8 Dec</span>
        </div>
        <div class="fiveChat">
            <img src="img/ava5.svg" alt="">
            <h1>Front-End Team</h1>
            <h2>Robert: Did you check the last task?</h2>
            <span>27 Dec</span>
        </div>
        <div class="sixChat">
            <img src="img/ava6.svg" alt="">
            <h1>Android Developer</h1>
            <h2>Robert: Did you check the last task?</h2>
            <span>31 min</span>
        </div>
    </div>
    <div class="bottomPanel">
        <div class="Home">
            <img src="img/home2.svg" alt="">
            <span>Home</span>
        </div>
        <div class="Chat">
            <img src="img/messages1.svg" alt="">
            <span>Chat</span>
        </div>
        <div class="Plus">
            <button><img src="img/addsquare.svg" alt=""></button>
        </div>
        <div class="Calendar">
            <img src="img/calendar.svg" alt="">
            <span>Calendar</span></div>
        <div class="Notification">
            <img src="img/notification1.svg" alt="">
            <span>Notification</span>
        </div>
    </div>
</div>
</body>
</html>