<html>
<link rel="stylesheet" href="./SignIn.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="signIn">
    <div class="topLogo">
        <img src="img/MainTopLogo.svg" alt="">
    </div>
    <div class="Greet">
        <h1>Welcome Back!</h1>
    </div>
    <div class="mailField">
        <div class="EmailH1">
            <h1>Email Address</h1>
        </div>
        <div class="emailInput">
            <img src="img/usertag.svg" alt="">
            <input type="text">
        </div>
    </div>
    <div class="passH1">
        <h1>Password</h1>
    </div>
    <div class="passField">
        <img class="left" src="img/leftimg.svg" alt="">
        <input type="text">
        <img class="right" src="img/rightimg.svg" alt="">
    </div>
    <div class="forgotPass">
        <button>
            Forgot Password?
        </button>
    </div>
    <div class="loginButton" >
        <button>
            <span>Log In</span>
        </button>
    </div>
    <div class="OtherLoginLine">
        <img class="line1" src="img/Line2.svg" alt="">
        <span>Or continue with</span>
        <img class="line2" src="img/Line2.svg" alt="">
    </div>
    <div class="googleLogin">
        <button>
            <img src="img/google.svg" alt="">
            <span>
                Google
            </span>
        </button>
    </div>
    <div class="signUp">
        <span>Don’t have an account?</span>
        <button>Sign Up</button>
    </div>
</div>
</body>
</html>