<html>
<link rel="stylesheet" href="./Chat.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="Chat">
<div class="topMenu">
    <img class="arrow" src="img/arrowleft.svg" alt="">
    <img class="avatar" src="img/Ellipse%2038.svg" alt="">
    <h2>Olivia Anna</h2>
    <span>Online</span>
    <img class="video" src="img/video.svg" alt="">
    <img class="calling" src="img/callcalling.svg" alt="">
</div>
    <div class="messages">
        <div class="oneMessage"><span>Hi, please check the new task.</span></div>
        <div class="twoMessage"><span>Hi, please check the new task.</span></div>
        <div class="threeMessage"><span>Got it. Thanks.</span></div>
        <div class="fourMessage"><span>Hi, please check the last task, that I
            have completed.</span></div>
        <div class="fiveMessage"><img src="img/Crypyo%201.svg" alt=""></div>
        <div class="sixMessage"><span>Got it. Will check it soon.</span></div>
    </div>
    <div class="bottomPanel">
        <div class="typeMessage">
            <img class="element" src="img/elementequal.svg" alt="">
            <input type="text" placeholder="Type a message">
            <img class="send" src="img/send.svg" alt="">
        </div>
        <div class="micro">
            <img src="img/microphone2.svg" alt="">
        </div>
    </div>
</div>
</body>
</html>