<html>
<link rel="stylesheet" href="./HomeScreen.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="HomeScreen">
    <div class="Title">
        <h1>
            Welcome Back!
        </h1>
        <h2>
            Fazil Laghari
        </h2>
        <img src="img/Rectangle6.svg" alt="">
    </div>
    <div class="SearchBar">
        <div class="SearchTask">
            <img src="img/searchnormal1.svg" alt="">
            <input type="text" placeholder="Seach tasks">
        </div>
        <div class="Setting">
            <img src="img/setting4.svg" alt="">
        </div>
    </div>
    <div class="Tasks">
        <div class="TitleTasks">
            <h1>Completed Tasks</h1>
            <span>See all</span>
        </div>
        <div class="OneTasks">
            <h1>Real Estate
                Website <br>
                Design</h1>
            <h2>Team members</h2>
            <img class="one-img" src="img/Ellipse1.svg" alt="">
            <img class="two-img" src="img/Ellipse2.svg" alt="">
            <img class="three-img" src="img/Ellipse3.svg" alt="">
            <img class="four-img" src="img/Ellipse4.svg" alt="">
            <img class="five-img" src="img/Ellipse5.svg" alt="">
            <span class="StatusTasks">Completed</span>
            <span>100%</span>
            <img class="progress" src="img/Rectangle12.svg" alt="">
        </div>
        <div class="TwoTasks">
            <h1>Finance
                Mobile App
                Design</h1>
            <h2>Team members</h2>
            <img class="one-img" src="img/Ellipse1.svg" alt="">
            <img class="two-img" src="img/Ellipse2.svg" alt="">
            <img class="three-img" src="img/Ellipse3.svg" alt="">
            <img class="four-img" src="img/Ellipse4.svg" alt="">
            <img class="five-img" src="img/Ellipse5.svg" alt="">
            <span class="StatusTasks">Completed</span>
            <span>100%</span>
            <img class="progress" src="img/Rectangle15.svg" alt="">
        </div>
    </div>
    <div class="OngoingProjects">
        <div class="TitleProjects">
            <h1>
                Ongoing Projects
            </h1>
            <span>
                See all
            </span>
        </div>
        <div class="ProjectsList">
            <div class="OneProjects">
                <h1>Mobile App Wireframe</h1>
                <h2>Team members</h2>
                <img class="one-img" src="img/Ellipse1.svg" alt="">
                <img class="two-img" src="img/Ellipse2.svg" alt="">
                <img class="three-img" src="img/Ellipse3.svg" alt="">
                <span class="DataProjects">Due on : 21 March</span>
                <img class="progressImg" src="img/Ellipse16.svg" alt="">
                <span class="progress">75%</span>
            </div>
            <div class="TwoProjects">
                <h1>Real Estate App Design</h1>
                <h2>Team members</h2>
                <img class="one-img" src="img/Ellipse1.svg" alt="">
                <img class="two-img" src="img/Ellipse2.svg" alt="">
                <img class="three-img" src="img/Ellipse3.svg" alt="">
                <span class="DataProjects">Due on : 20 June</span>
                <img class="progressImg" src="img/Ellipse16.svg" alt="">
                <span class="progress">60%</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="Home">
            <img src="img/home2.svg" alt="">
            <span>Home</span>
        </div>
        <div class="Chat">
            <img src="img/messages1.svg" alt="">
            <span>Chat</span>
        </div>
        <div class="ButtonAdd">
            <img src="img/addsquare.svg" alt="">
        </div>
        <div class="Calendar">
            <img src="img/calendar.svg" alt="">
            <span>Calendar</span>
        </div>
        <div class="Notification">
            <img src="img/notification1.svg" alt="">
            <span>Notification</span>
        </div>
    </div>
</div>
</body>
</html>