<html>
<link rel="stylesheet" href="./Notification.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="Notification">
    <div class="topMenu">
        <img src="img/arrowleft.svg" alt="">
        <h1>Notifications</h1>
    </div>
    <div class="newNotification">
        <h1 class="main">New</h1>
        <div class="one-task">
            <img src="img/E1.svg" alt="">
            <h2>
                <span class="Name">Olivia Anna </span>left a comment in task <br><span class="yellow">Mobile App Design Project</span>
            </h2>
            <span class="time">31 min</span>
        </div>
        <div class="two-task">
            <img src="img/E2.svg" alt="">
            <h2>
                <span class="Name">Robert </span>left a comment in task <br><span class="yellow">Mobile App Design Project</span>
            </h2>
            <span class="time">31 min</span>
        </div>
        <div class="three-task">
            <img src="img/E3.svg" alt="">
            <h2>
                <span class="Name">Sophia </span>left a comment in task <br><span class="yellow">Mobile App Design Project</span>
            </h2>
            <span class="time">31 min</span>
        </div>
        <div class="four-task">
            <img src="img/E4.svg" alt="">
            <h2>
                <span class="Name">Anna </span>left a comment in task <br><span
                    class="yellow">Mobile App Design Project</span>
            </h2>
            <span class="time">31 min</span>
        </div>
    </div>
    <div class="Earlier">
        <h1 class="main">Earlier</h1>
        <div class="one-earlier">
            <img src="img/E1.svg" alt="">
            <h2>
                <span class="Name">Robert </span>marked the task <br><span
                    class="yellow">Mobile App Design Project</span>
                as in process
            </h2>
            <span class="time">4 hours</span>
        </div>
        <div class="two-earlier">
            <img src="img/E2.svg" alt="">
            <h2>
                <span class="Name">Sophia </span>left a comment in task <br><span class="yellow">Mobile App Design Project</span>
            </h2>
            <span class="time">4 hours</span>
        </div>
        <div class="three-earlier">
            <img src="img/E3.svg" alt="">
            <h2>
                <span class="Name">Anna </span>left a comment in task <br><span
                    class="yellow">Mobile App Design Project</span>
            </h2>
            <span class="time">4 hours</span>
        </div>
    </div>
</div>
</body>
</html>